*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f3f3f3;
}

.container{
  padding:20px;
}

.grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

/*
Responsivo celular
*/
@media(max-width:768px){

  .grid{
    grid-template-columns:1fr;
  }

}

.navbar{

  background:
  linear-gradient(
    90deg,
    #5d00b3,
    #9333ea
  );

  padding:20px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  color:white;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}